* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}
button {
  border-style : none;
  cursor: pointer;
}
ol,ul {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}