|===
|필드명|타입|설명|제약조건|필수여부

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#constraints}}{{.}}{{/constraints}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}필수{{/optional}}{{#optional}}선택{{/optional}}{{/tableCellContent}}
{{/fields}}
|===