|===
|파라미터|설명|필수여부
{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}필수{{/optional}}{{#optional}}선택{{/optional}}{{/tableCellContent}}
{{/parameters}}
|===